/* Estilos para el Footer */
.footer {
    background-color: #4c9ced; /* Color de fondo del Footer */
    color: #ffffff; /* Color del texto */
    padding: 2rem 0; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho de la página */
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 1rem; /* Espaciado interno horizontal */
}

.footer-section {
    margin-bottom: 1rem; /* Espaciado inferior entre secciones */
    text-align: center; /* Alinea el texto al centro */
}

.footer-title {
    font-size: 1.5rem; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    margin-bottom: 1rem; /* Espaciado inferior del título */
    color: #ffffff; /* Color del texto */
}

.footer p {
    margin: 0; /* Sin margen */
    color: #ffffff; /* Color del texto */
}

.footer-social {
    display: flex; /* Utiliza flexbox para alinear los iconos */
    justify-content: center; /* Centra los iconos horizontalmente */
    gap: 1rem; /* Espaciado entre iconos */
}

.footer-social a {
    color: #ffffff; /* Color de los iconos */
    font-size: 1.5rem; /* Tamaño de los iconos */
    transition: color 0.3s ease; /* Transición suave para el color */
}

.footer-social a:hover {
    color: #ffcc00; /* Color de los iconos al pasar el ratón */
}
